$silver-100: #F9FAFF;
$silver-200: #ECECEC;
$silver-300: #E5E5E5;
$gray: #C2C2C2;
$darkBlue-900: #363853;
$dark: #31352B;
$default: #FFFFFF;
$orange-100: rgba(255, 242, 237, 1);
$orange-200: rgba(255, 104, 56, 0.7);
$orange-300: rgba(255, 104, 56, 0.5);
$orange-700: #FF7A50;
$orange-900: #FF6838;
$red: #FF2222;
$sky: #00AAFF;

%rubik-italic-400 {
  font-family: "Rubik-Italic", sans-serif;
  font-weight: 400;
  font-style: italic;
}

%rubik-300 {
  font-family: "Rubik", sans-serif;
  font-weight: light;
  font-style: normal;
}

%rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%rubik-500 {
  font-family: "Rubik", sans-serif;
  font-weight: medium;
  font-style: normal;
}

%bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;